<div class="filter-wrapper">
    <input type="checkbox" id="filter" class="hidden-filter hidden" autocomplete="off">
    <label class="close-filter" for="filter"></label>
    <div class="overlay"></div>

    <label class="filter-box" for="filter">Odaberite Filter<span>1</span></label>

    <div class="filter-content">
        <div class="sticky-close-holder">Pretraga</div>

        <form id="search-menu">
            <div class="select-wrapp">
                <select name="pol">
                    <option value="">Odaberite pol</option>
                    <option value="muske">Muške</option>
                    <option value="zenske">Ženske</option>
                    <option value="decije">Dečije</option>
                </select>
            </div>

            <div class="select-wrapp">
                <select name="brend">
                    <option value="">Odaberite brend</option>
                    <option value="converse">Converse</option>
                    <option value="addidas">Addidas</option>
                    <option value="nike">Nike</option>
                    <option value="salomon">Salomon</option>
                    <option value="asics">Asics</option>
                </select>
            </div>

            <div class="select-wrapp">
                <select name="vrsta">
                    <option value="">Odaberite vrstu</option>
                    <option value="patike">Patike</option>
                    <option value="koferi">Koferi</option>
                    <option value="cipele">Cipele</option>
                </select>
            </div>

            <input class="form-submit-btn" type="submit" value="Traži" name="trazi">
        </form>

        <p class="filter-heading"><strong>Brojevi</strong></p>
        <ul class="numbers-filter">
            <li><a href="/search">39</a></li>
            <li><a href="/search" class="active">39.5</a></li>
            <li><a href="/search">40</a></li>
            <li><a href="/search">40.5</a></li>
            <li><a href="/search">41</a></li>
            <li><a href="/search">41.5</a></li>
            <li><a href="/search">42</a></li>
            <li><a href="/search">42.5</a></li>
            <li><a href="/search">43</a></li>
            <li><a href="/search">43.5</a></li>
            <li><a href="/search">44</a></li>
            <li><a href="/search">44.5</a></li>
            <li><a href="/search">45</a></li>
            <li><a href="/search">45.5</a></li>
            <li><a href="/search">46</a></li>
        </ul>

        <p class="filter-heading"><strong>Sniženje %</strong></p>
        <div class="filter-division">
            <ul class="filter-product-list">
                <li>
                    <a href="/search" class="current" title=""> 50% +<span></span></a>
                </li>
                <li>
                    <a href="/search" title="">40% +<span></span></a>
                </li>
                <li>
                    <a href="/search" title="">30% +<span></span></a>
                </li>
                 <li>
                    <a href="/search" title="">20% +<span></span></a>
                </li>
                 <li>
                    <a href="/search" title="">10% +<span></span></a>
                </li>
            </ul>
        </div>

        <div class="price-filter">
            <p class="filter-heading"><strong>Cena</strong></p>
            <form class="price-form" action="" method="">
                <div>
                <label>od</label>
                <div class="select-price">
                    <select class="" name="od">
                        <option value="0" selected="selected">sve</option>
                        <option value="1000">1000</option>
                        <option value="1000">2000</option>
                        <option value="1000">3000</option>
                    </select>
                </div>
                </div>
                
                <div>
                    <label>do</label>
                    <div class="select-price">
                        <select class="" name="do">
                            <option value="0" selected="selected">sve</option>
                            <option value="1000">1000</option>
                            <option value="1000">2000</option>
                            <option value="1000">3000</option>
                        </select>
                    </div>
                </div>
                <input type="submit" value=" " class="price-btn">
            </form>
        </div>

        <div class="popular">
            <p class="filter-heading"><strong>Aktuelno</strong></p>
            <div class="filter-division">
                <ul class="filter-sprite">
                    <li>
                        <a href="/search" class="shoes" title="Cipele">Cipele</a>
                    </li>
                    <li>
                        <a href="/search" class="boots" title="Čizme">Čizme</a>
                    </li>
                    <li>
                        <a href="/search" class="snickers" title="Patike">Patike</a>
                    </li>
                    <li>
                        <a href="/search" class="klompe" title="Klompe">Klompe</a>
                    </li>
                    <li>
                        <a href="/search" class="juckets" title="Jakne">Jakne</a>
                    </li>
                    <li>
                        <a href="/sale" class="sale" title="Sniženje">Sniženje </a>
                    </li>
                </ul>
            </div>
        </div>

        
        <p class="filter-heading"><strong>Boja</strong></p>
        <ul class="clr-li">
            <li>
                <a class="bele active" href="/search" title="Bela"></a>
            </li>

            <li>
                <a class="crne" href="/search" title="Crna"></a>
            </li>

            <li>
                <a class="plave" href="/search" title="Plava"></a>
            </li>

            <li>
                <a class="crvene" href="/search" title="Crvena"></a>
            </li>

            <li>
                <a class="bordo" href="/search" title="Bordo"></a>
            </li>

            <li>
                <a class="zelene" href="/search" title="Zelena"></a>
            </li>

            <li>
                <a class="zute" href="/search" title="Žuta"></a>
            </li>

            <li>
                <a class="sive" href="/search" title="Siva"></a>
            </li>

            <li>
                <a class="roze" href="/search" title="Roze"></a>
            </li>

            <li>
                <a class="braon" href="/search" title="Braon"></a>
            </li>

            <li>
                <a class="ljubicaste" href="/search" title="Ljubičaste"></a>
            </li>

            <li>
                <a class="bez" href="/search" title="Bež"></a>
            </li>

            <li>
                <a class="narandzaste" href="/search" title="Narandžaste"></a>
            </li>

            <li>
                <a class="sarene" href="/search" title="Šarene"></a>
            </li>
        </ul>
        
        <p class="filter-heading"><strong>Sport</strong></p>
        <div class="filter-division">
            <ul class="filter-product-list">
                <li>
                    <a href="/search" class="current" title="Fudbal">Fudbal<span></span></a>
                </li>
                <li>
                    <a href="/search" title="Futsal">Futsal<span></span></a>
                </li>
                <li>
                    <a href="/search" title="Šetanje">Šetanje<span></span></a>
                </li>
                <li>
                    <a href="/search" title="Tenis">Tenis<span></span></a>
                </li>
            </ul>
        </div>

        <p class="filter-heading"><strong>Dubina</strong></p>
        <div class="filter-division">
            <ul class="filter-product-list">
                <li>
                    <a href="/search" class="current" title="Plitke">Plitke<span></span></a>
                </li>
                <li>
                    <a href="/search" title="Poluduboke">Poluduboke<span></span></a>
                </li>
                <li>
                    <a href="/search" title="Duboke">Duboke<span></span></a>
                </li>
            </ul>
        </div>

        <p class="filter-heading"><strong>Materijal</strong></p>
        <div class="filter-division">
            <ul class="filter-product-list">
                <li>
                    <a href="/search" class="current" title="Vuna">Vuna<span></span></a>
                </li>

                <li>
                    <a href="/search" title="Akril">Akril<span></span></a>
                </li>

                <li>
                    <a href="/search" title="Tekstil">Tekstil<span></span></a>
                </li>

                <li>
                    <a href="/search" title="Lan">Lan<span></span></a>
                </li>

                <li>
                    <a href="/search" title="Sintetika i tekstil">Sintetika i tekstil<span></span></a>
                </li>

                <li>
                    <a href="/search" title="Koža i tekstil">Koža i tekstil<span></span></a>
                </li>

                <li>
                    <a href="/search" title="Koža">Koža<span></span></a>
                </li>

                <li>
                    <a href="/search" title="Veštačka koža">Veštačka koža<span></span></a>
                </li>

                <li>
                    <a href="/search" title="Viskoza">Viskoza<span></span></a>
                </li>

                <li>
                    <a href="/search" title="Veštačka koža i tekstil">Veštačka koža i tekstil<span></span></a>
                </li>

                <li>
                    <a href="/search" title="Antilop i tekstil">Antilop i tekstil<span></span></a>
                </li>
                <li>
                    <a href="/search" title="Pamuk">Pamuk<span></span></a>
                </li>
                <li>
                    <a href="/search" title="Sintetika">Sintetika<span></span></a>
                </li>
            </ul>
        </div>

        <div class="bestsellers">
            <p class="filter-heading"><strong>Trenutno najprodavaniji</strong></p>
            
            <ul class="ordered-list-filter">
                <li>
                    <a href="/search" title="">
                        <img src="https://via.placeholder.com/60x60.jpg" alt="">
                    </a>
                    <a href="/search" title="">
                        <span class="bold">Converse Čizme</span>Chuck Taylor All Star Waterproof Boot Quilted Leather Men
                    </a>
                </li>
                <li>
                    <a href="/search" title="">
                        <img src="https://via.placeholder.com/60x60.jpg" alt="">
                    </a>
                    <a href="/search" title="">
                        <span class="bold">Converse Čizme</span>Chuck Taylor All Star Waterproof Boot Quilted Leather Men
                    </a>
                </li>
                <li>
                    <a href="/search" title="">
                        <img src="https://via.placeholder.com/60x60.jpg" alt="">
                    </a>
                    <a href="/search" title="">
                        <span class="bold">Converse Čizme</span>Chuck Taylor All Star Waterproof Boot Quilted Leather Men
                    </a>
                </li>
                <li>
                    <a href="/search" title="">
                        <img src="https://via.placeholder.com/60x60.jpg" alt="">
                    </a>
                    <a href="/search" title="">
                        <span class="bold">Converse Čizme</span>Chuck Taylor All Star Waterproof Boot Quilted Leather Men
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="overlay"></div>
