<footer class="main-footer">
    <div class="footer-img-wrapper">
        <a href="/how-to-buy">
            <img alt="" title="Kako kupiti" src="/img/jednostavna-kupovina.png">
        </a>
    </div>
    
    <div class="footer-desk-wrapper">
        <form id="suscribe" class="footer-desk-form" action="" method="">
            <div>Budite prvi među 55.000+ Sportizmovaca!</div>
            <div class="flex-wrapper">
                <p class="form-description">
                    <img alt="" src="/img/email.png">
                    <span>Najveća sniženja, novi super artikli, nagrade. Samo sjajne stvari.</span>
                </p>
                <p class="footer-input">
                    <input type="email" class="email" name="email" placeholder="@ Vaša mejl adresa">
                    <input type="submit" class="footer-submit" value="Prijavi se">
                </p>
            </div>
        </form>

        <section class="blog-posts">
            <h4>Sa našeg bloga :</h4>
            <span></span>
            <ul>
                <li>
                    <a href="/blog-article" class="aligned">
                        <img src="https://via.placeholder.com/112x112" alt="">
                    </a>
                    <a href="/blog-article" class="blog"><h5>Спортизмо уводи видео са обућом која иде 360°</h5></a>
                </li>
                <li>
                    <a href="/blog-article" class="aligned">
                        <img src="https://via.placeholder.com/100x100" alt="">
                    </a>
                    <a href="/blog-article" class="blog"><h5>Спортизмо уводи 6-часовно радно време</h5></a>
                </li>
                <li>
                    <a href="/blog-article" class="aligned">
                        <img src="https://via.placeholder.com/100x100" alt="">
                    </a>
                    <a href="/blog-article" class="blog"><h5>Онлајн продаја Спортизма у 2016. години</h5></a>
                </li>
            </ul>
            <a href="/blog-article" class="blog-all" title="Ostalo sa našeg bloga"><h5>Ostalo sa našeg bloga >>></h5></a>
        </section>

        <nav class="footer-links">
            <h4 class="footer-links-info">Informacije</h4>
            <ul>
                <li>
                    <h5><a href="/how-to-buy" title="Kako kupiti">Kako kupiti</a></h5>
                </li>
                <li>
                    <h5><a href="/questions" title="Česta pitanja">Česta pitanja</a></h5>
                </li>
                <li>
                    <h5><a href="/delivery" title="Česta pitanja">Česta pitanja</a></h5>
                </li>
                <li>
                    <h5><a href="/refund" title="Povrat novca">Povrat novca</a></h5>
                </li>
                <li>
                    <h5><a href="/replace" title="Zamena artikla">Zamena artikla</a></h5>
                </li>
                <li>
                    <h5><a href="/reclamation" title="Reklamacije">Reklamacije</a></h5>
                </li>
                <li>
                    <h5><a href="/policy" title="Politika privatnosti">Politika privatnosti</a></h5>
                </li>
                <li>
                    <h5><a href="/about-us" title="O nama">O nama</a></h5>
                </li>
                <li>
                    <h5><a href="/contact" title="Kontak">Kontak</a></h5>
                </li>
                <li>
                    <h5><a href="/blog-article" title="Blog">Blog</a></h5>
                </li>
            </ul>
        </nav>

        <div class="brands">
            <a href="/search"><img alt="Converse" src="/img/converse.png"></a>
            <a href="/search"><img alt="Adidas" src="/img/adidas.png"></a>
            <a href="/search"><img alt="" src="/img/nike.png"></a>
            <a href="/search"><img alt="Sirogojno" src="/img/sirogojno.png"></a>
            <a href="/search"><img alt="Leon" src="/img/leon.png"></a>
            <a href="/search"><img alt="Spartan" src="/img/spartan.png"></a>
            <a href="/search"><img alt="Salomon" src="/img/salomon.png"></a>
            <a href="/search"><img alt="Dc" src="/img/dc.png"></a>
        </div>

        <div class="contact-info">
            <p>
                <strong>&copy; Sportizmo.rs</strong>, internet prodavnica obuće i odeće, Beograd, Srbija.
            </p>

            <p class="hidden-on-desktop">Pozovite nas:<a class="contact" href="tel:011-411-777-2">011.411.777.2</a></p>

            <p class="desktop-only">Sva prava zadržana. Zabranjeno kopiranje ili umnožavanje sadržaja sajta bez dozvole vlasnika.</p>

            <p class="desktop-only">Svi podaci koji se nalaze na sajtu su informativnog karaktera i podložni su izmenama. Slika artikala i njihov prikaz mogu da variraju u zavisnosti od osvetljanja prilikom fotografisanja kao i kalibracije monitora posetioca sajta.
            </p>
        </div>
    </div>

    <input type="checkbox" id="close" class="soc-icons-chckb hidden">
    <label class="closed-div" for="close">
        <span class="follow">Пратите нас:</span>
        <span class="soc-icons">
			<a href="https://www.facebook.com/sportizmo" target="_blank" title="Facebook" rel="noopener noreferrer">
				<img src="img/facebook32.png" alt="Facebook">
			</a>
			<a href="https://instagram.com/sportizmo" target="_blank" title="Instagram" rel="noopener noreferrer">
				<img src="img/instagram32.png" alt="Instagram">
			</a>
		</span>
        <img class="close-button" src="/img/zatvori.png" alt="">
    </label>
</footer>
