<div class="header-icons-wrapper">
    <ul class="header-icons">
        <li>
            <a href="/favourite" class="heart-active" title="Omiljeno">
                <span>Omiljeno</span>
                <span class="icon-num">1</span>
            </a>
        </li>

        <li>
            <a href="/how-to-buy" class="question-mark" title="Pitanja"><span>Pitanja</span></a>
        </li>

        <li>
            <a href="/contact" class="telephone" title="Telefon"><span>011.411.777.2</span></a>
        </li>

        <li>
            <a href="/buy" class="basket-active-icon" title="Korpa">
                <span>Korpa</span>
                <span class="icon-num">1</span>
            </a>
        </li>
    </ul>
</div>