<div class="pagination-wrapper">
	<div class="results">
		<span><strong>1837</strong>artikal(a)</span>
		<a href="" class="all-results">prikaži sve</a>
		<span><strong>1</strong>od<strong>23</strong></span>
	</div>

	<div class="pagination-results">
		Prikaz rezultata od<span class="bold">1</span>do<span class="bold">80	</span>
	</div>

	<ul class="pagination">
		<li><a class="prev" href="/search" title="">&lt;</a></li>

		<li><a class="current" href="/search" title="">1</a></li>
		<li class="dots">...</li>
		<li><a href="/search" title="">2</a></li>

		<li><a class="next" href="/search" title="">&gt;</a></li>
	</ul>
</div>
