<section class="policy">
    <h3 class="policy-header">Zašto kupovati u Sportizmu?</h3>
    <ol>
        <li>
            <strong>Sigurna i bezbrižna kupovina.</strong>Prodajemo samo originalnu obuću i odeću. Sve artikle pre nego pošaljemo obavezno pregledamo da ne bi poslali neki feler ili ono što niste poručili.
        </li>

        <li>
            <strong>Brinemo o kupcima.</strong>Uvek ćemo vam obezbediti zamenu za broj ili model. Ako to želite vratićemo vam i novac ako niste zadovoljni poručenim artiklom. Sve se uglavnom obavlja za 24 sata.
        </li>

        <li>
            <strong>Najbolja podrška.</strong>
            U našem kol centru uvek možete dobiti pomoć pri kupovini, bilo da ne znate koju veličinu da kupite ili nešto drugo. U saradnji sa kuriskom službom uvek možemo da reagujemo ako vam pošiljka slučajno kasni.
        </li>
    </ol>
</section>
