<div class="sale-wrapper">
	<div>U svakom trenutku na našem sajtu</div>
	<strong>Sniženje i preko 50% na odabrane artikle</strong>
	<a href="/search" class="gender-category-sale current" title="Muške"><span>Muške</span></a>
	<a href="/search" class="gender-category-sale" title="Ženske"><span>Ženske</span></a>
	<a href="/search" class="gender-category-sale" title="Dečije"><span>Dečije</span></a>
	<a href="/search" class="in-procent" title="50%+"><span>50%+</span></a>
	<a href="/search" class="in-procent" title="40%+"><span>40%+</span></a>
	<a href="/search" class="in-procent" title="30%+"><span>30%+</span></a>
	<a href="/search" class="in-procent" title="20%+"><span>20%+</span></a>
	<a href="/search" class="in-procent" title="10%+"><span>10%+</span></a>
</div>
