<form class="search-form-mob" action="">
    <div class="select-header">Pretraga</div>
    <select name="pol">
        <option value="">Odaberite pol</option>
        <option value="muske">Muške</option>
        <option value="zenske">Ženske</option>
        <option value="decije">Dečije</option>
    </select>

    <select name="brend">
        <option value="">Odaberite brend</option>
        <option value="converse">Converse</option>
        <option value="addidas">Addidas</option>
        <option value="nike">Nike</option>
        <option value="salomon">Salomon</option>
        <option value="asics">Asics</option>
    </select>

    <select name="vrsta">
        <option value="">Odaberite vrstu</option>
        <option value="patike">Patike</option>
        <option value="koferi">Koferi</option>
        <option value="cipele">Cipele</option>
    </select>
    <input class="form-submit-btn" type="submit" value="Traži" name="trazi">
</form>
