<ul class="search-heading-links">
	<li>
		<a href="/search" class="search-links-num current">
			<span class="name">Patike</span>
			<span class="number">(656)</span>
		</a>
	</li>

	<li>
		<a href="/search" class="search-links-num">
			<span class="name">Koferi</span>
			<span class="number">(656)</span>
		</a>
	</li>

	<li>
		<a href="/search" class="search-links-num">
			<span class="name">Cipele</span>
			<span class="number">(656)</span>
		</a>
	</li>

	<li>
		<a href="/search" class="search-links-num">
			<span class="name">Patike</span>
			<span class="number">(656)</span>
		</a>
	</li>

	<li>
		<a href="/search" class="search-links-num">
			<span class="name">Patike</span>
			<span class="number">(656)</span>
		</a>
	</li>

	<li>
		<a href="/search" class="search-links-num">
			<span class="name">Patike</span>
			<span class="number">(656)</span>
		</a>
	</li>

	<li>
		<a href="/search" class="search-links-num">
			<span class="name">Patike</span>
			<span class="number">(656)</span>
		</a>
	</li>

	<li>
		<a href="/search" class="search-links-num">
			<span class="name">Patike</span>
			<span class="number">(656)</span>
		</a>
	</li>

	<li>
		<a href="/search" class="search-links-num">
			<span class="name">Patike</span>
			<span class="number">(656)</span>
		</a>
	</li>

	<li>
		<a href="/search" class="search-links-num">
			<span class="name">Patike</span>
			<span class="number">(656)</span>
		</a>
	</li>

	<li>
		<a href="/search" class="search-links-num">
			<span class="name">Patike</span>
			<span class="number">(656)</span>
		</a>
	</li>
</ul>
