<!DOCTYPE html>
<html lang="sr">
<head>
    <title>PATIKE PRODAJA: cene patika u Beogradu, katalog i cenovnik patika | Sportizmo - Online prodavnica patika</title>

    <link rel="stylesheet" type="text/css" href="css/main.min.css?{{['a', 'b', 'c', 'd', 'e', 'f'] | random }}={{[1,2,3,4,5,6,7,8,9] | random }}">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="PATIKE PRODAJA: kupite sjajne ORIGINALNE PATIKE po vrlo povoljnim cenama! Dečije, muške i ženske patike. Najjeftinije cene - onlajn katalog - cenovnik. ">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2, user-scalable=yes">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
</head>

<body>
    {% block content %}
    {% endblock %}

</body>

</html>
