<div class="content-wrapper">
	<h1 class="titleH1">O nama</h1>
	<h2 class="no-margin">O sportizmu</h2>

	<div class="how-to">
		<p>Sportizmo.rs je najveća i najozbiljnija prodaja obuće u Srbiji. U proteklih godinu dana nas je posetilo 1.500.000 ljudi i obavilo više hiljada kupovina.</p>
	</div>

	<h2 class="no-margin">Šta kupci treba da znaju?</h2>
	<div class="how-to">
		<p>Mi smo nešto najbolje što vam se desilo kada je obuća u pitanju! Smestili smo svu ponudu Srbije na jednom mestu pa sada stvarno imate izbor. Isporučujemo i do najmanjeg mesta u Srbiji i to uglavnom za 24 časa! Sjajno zar ne? To je zato što mi stvarno brinemo o vama i želimo da nosite najbolju obuću.</p>
	</div>

	<h2 class="no-margin">ŠTA UVOZNICI I DOBAVLJAČI OBUĆE I ODEĆE TREBA DA ZNAJU?</h2>
	<div class="how-to">
		<p>Nas posećuju i pre nego što odu u kupovinu u vašim prodavnicama. Sa preko 5000 poseta dnevno mi smo najbolji prostor za promociju Vašeg brenda - naročito novih kolekcija, a pored toga mi smo i najbolje mesto za prodaju obuće i odeće.Želimo da budemo mesto gde možete postaviti svu svoju ponudu obuće kako bi vaši kupci videli celokupnu vašu ponudu. U koliko želite da sarađujete sa nama slobodno nas pozovite.</p>
	</div>

	<h2 class="no-margin">KAKO FUNKCIONIŠEMO?</h2>
	<div class="how-to">
		<p>Naša jedina reklama jeste preporuka i u proseku nas svaki kupac preporuči bar jednoj osobi.</p>
	</div>

	<h2 class="no-margin">PO ČEMU SMO JOŠ POSEBNI?</h2>
	<div class="how-to">
		<p>Sportizmo je jedina firma u Srbiji finansirana isključivo od sopstvene Internet prodaje. Imamo 7-oro zaposlenih i među nama su dizajneri, programeri, fotograf i komercijalisti.Dobavljači nam često govore "Prodajete koliko i sve druge Internet prodavnice zajedno!". Te reči nam znače kao informacija o dostignuću, ali, nama je NAJBITNIJE da su naši kupci vrlo zadovoljni i da se uvek oduševe.
		</p>
	</div>

	<h2 class="no-margin">EKSKLUZIVNO PRODAJEMO MNOGE BRENDOVE</h2>
	<div class="how-to">
		<p>Neki od poznatih domaćih brendova su nas prepoznali i želeli da ekskluzivno prodajemo njihov asortiman i to su: Balašević, luksuzni Rancco, Marshall (košulje), Leon (klompe), Santos Santorini i dr.
		</p>
	</div>

	<div class="company-info">
		<p class="not-default">Podaci naše firme su:</p>
		<p><strong>Sportizmo d.o.o.</strong></p>
		<p><span class="bold">Matični broj:</span> 21068756</p>
		<p><span class="bold">PIB:</span> 108794007</p>
		<p><span class="bold">ŽR:</span> 205-215498-02</p>
		<p><span class="bold">Telefon:</span> 011/411-777-2</p>
	</div>
</div>




