<div class="content-wrapper" itemscope itemtype="https://schema.org/LocalBusiness">
	<h1 class="titleH1">Kontakt</h1>
	<div class="paragraph-container">

		<div class="contact-instructions telephone-img">
			<strong class="contact-header"><span itemprop="name">Sportizmo</span> tim čeka vaš telefonski poziv:</strong>
			<p>Dragi naši kupci, nazovite nas telefonom i javiće vam naš super-tim koji radi na tome da budete maksimalno zadovoljni.</p>
			<p><a class="contact" href="tel:011-411-777-2">011.411.777.2</a></p>
		</div>

		<div class="contact-instructions mail-img">
			<strong class="contact-header">Pitajte nas mejlom:</strong>
			<p>Trudimo se da odgovorimo na svaki mejl u roku od sat vremena. Nekada je to bilo za 10 minuta ali od kada imamo više hiljada porudžbina samo se malo duže čeka.</p>
			<p>info@sportizmo.rs</p>
		</div>

		<div class="contact-instructions direct-message-img">
			<strong class="contact-header">Ćaskajmo direktno:</strong>
			<p>U desnom uglu svake stranice sajta nalazi se plavo polje gde nam direktno možete pisati i dobiti informacije za nekoliko sekundi.</p>
		</div>

		<div class="contact-instructions question-img">
			<p>Na najčešća pitanja smo već odgovorili, pogledajte ih ovde.</p>
			<a href="/questions">Često postavljana pitanja</a>
		</div>

		<div class="col-center">
			<p>Naš kol centar je tu za vas:</p>
			<p>09:00 - 21:00h RADNIM DANIMA</p>
			<p>11:00 - 15:00h VIKENDOM</p>
		</div>

		<table class="aligned-right">
			<tbody>
				<tr>
					<td><strong>Telefon</strong></td>
					<td itemprop="telephone">: <a class="contact" href="tel:011-411-777-2">011.411.777.2</a></td>
				</tr>
				<tr>
					<td><strong>Kancelarija</strong></td>
					<td>: <span itemprop="address">Cara Dušana 102, Zemun</span>(ovo je kancelarija firme, nije prodaja)</td>
				</tr>
			</tbody>
		</table>

		<form id="kontakt" action="" method="">
			<div class="contact-form-wrapper">
				<label for="ime"><span>*</span> Vaše ime i prezime:</label>
				<input type="text" id="ime" name="ime" class="">
			</div>

			<div class="contact-form-wrapper">
				<label for="mejl"><span>*</span> E-mail adresa:</label>
				<input type="text" id="mejl" name="mejl" class="">
			</div>

			<div class="contact-form-wrapper">
				<label for="telefon"><span>*</span> Telefon:</label>
				<input type="text" id="telefon" name="telefon" class="">
			</div>

			<div class="contact-form-wrapper">
				<label for="poruka"><span>*</span> Poruka:</label>
				<textarea name="poruka" id="poruka"></textarea>
			</div>

			<input name="dugme" type="submit" class="contact-button" value="Pošalji">
		</form>
	</div>
</div>



