<div class="content-wrapper">
	<h1 class="titleH1">Načini isporuke</h1>
	<div class="paragraph-container">
		<div class="how-to">
			<p>Trenutno isporuku naših artikala vrši kurirska služba Daily Express. U posebnim slučajevima možemo poslati artikal i drugim kurirskim službama. Troškovi isporuke za teritoriju Srbije su 200 dinara po cenovniku od 1.1.2017.</p>
		</div>

		<div class="how-to">
			<p>Vršimo isporuku i na teritoriju Kosova i Metohije putem Pošte.</p>
		</div>

		<div class="how-to">
			<p>U koliko želite da vam pošaljemo artikal van Srbije morate nas prvo kontaktirati radi upustva.
			</p>
		</div>
	</div>
</div>
