<div class="content-wrapper">
	<h1 class="titleH1 bigger-marg-bottom">Kako kupiti</h1>
	<img class="how-to-buy-img" alt="" src="/img/jednostavna-kupovina-mala.png" width="760" height="216">

	<div class="paragraph-container">
		<div class="how-to">Kupovina patika u <strong>Sportizmo.rs</strong> Internet prodavnici je veoma jednostavna. Dovoljno je da uradite samo par jednostavnih koraka dok sedite kući za svojim računarom.
		</div>

		<h2 class="subtitle">Procedura naručivanja</h2>
		<ol>
			<li>
				<img alt="Naruči" src="/img/korpa-dugme.png">Odaberite patike koji želite da kupite i kliknite na dugme "NARUČI" koje se nalazi uz sliku patika. Ne zaboravite da odabere i veličinu tj. broj patika koje nosite kako bi znali koji broj kasnije da vam pošaljemo.<span></span>
			</li>

			<li>
				Čim dodate patike u korpu odmah će vam biti prikazana stranica sa sadržajem vaše korpe. Ako želite da se vratite u kupovinu i nađete još neke patike koje vas zanimaju kliknite na "NAZAD U KUPOVINU". Ukoliko želite da izbacite neke patike iz korpe kliknite na "Izbaci".
			</li>

			<li>
				<img alt="Kupi sad" src="/img/kupi-sad-dugme.png">Ukoliko ste završili sa kupovinom kliknite na dugme "KUPI SAD". Nakon toga ćete popuniti kratak form sa vašim podaci kako bi znali gde da vam isporučimo patike. Brzo nakon toga ćemo vas kontaktirati da potvrdimo vašu narudžbinu.
			</li>
		</ol>

		<div class="how-to">
			<h2 class="subtitle">Kupovina telefonom</h2>
			<p>Ukoliko vam je lakše ili imate nekih dodatnih pitanja pozovite nas. Tu smo da vam rešimo dileme.</p>
		</div>

		<div class="how-to flexed">
			<h2 class="subtitle">Vaša kupovina je sigurna</h2>
			<p>
				<span class="how-to-img-wrapper"><img alt="Sigurna kupovina" src="/img/safe-buy-seal.png"></span>Sve patike na našem sajtu su originalne i kvalitetne. Pre isporuke proveravamo da li su to te patike koje ste videli na slici i da nemaju oštećenja. Tek kada se izvrše sve sigurnosne provere šaljemo vam patike na željenu adresu.
			</p>
		</div>

		<div class="how-to flexed">
			<h2 class="subtitle">Garantovano original</h2>
			<p>
				<span class="how-to-img-wrapper"><img alt="Original garantovano" src="/img/original-seal.png"></span>Svi artikli koje prodajemo putem našeg sajta su garantovano original i dobavljaju se direktno od generalnih uvoznika.
			</p>
		</div>

		<div class="how-to">
			<h2 class="subtitle">Načini plaćanja</h2>
			<p>Trenutno najlakši način plaćanja je nakon preuzimanja robe koju vam pošaljemo na željenu adresu.</p>
		</div>

		<div class="how-to">
			<h2 class="subtitle">Da li je moguća isporuka van Srbije</h2>
			<p>Trenutno nemamo mogućnost da pošaljemo robu van Srbije. Jedini način da vam isporučimo patike je ako imate nekog ovde u Srbiji ko može robu da preuzme za vas i da vam je preda kada se vidite.</p>
		</div>

		<div class="how-to">
			<h2 class="subtitle">Gde se mi nalazimo?</h2>
			<p>Mi smo internet prodavnica. Nemamo prodavnicu u gradu ili neki izložbeni prostor gde možete da pogledate obuću. Sav naš asortiman je predstavljen na ovom sajtu.</p>
		</div>
	</div>
</div>



