<div class="contact-links">
	<a class="current" href="/how-to-buy" title="Kako kupiti">Kako kupiti</a>
	<a href="/questions" title="Česta pitanja">Česta pitanja</a>
	<a href="/delivery" title="Načini isporuke">Načini isporuke</a>
	<a href="/refund" title="Povrat novca">Povrat novca</a>
	<a href="/replace" title="Zamena artikla">Zamena artikla</a>
	<a href="/reclamation" title="Reklamacije">Reklamacije</a>
	<a href="/policy" title="Politika privatnosti">Politika privatnosti</a>
	<a href="/about-us" title="O nama">O nama</a>
	<a href="/contact" title="Kontakt">Kontakt</a>
</div>
