<div class="content-wrapper">
	<h1 class="titleH1">Kako odrediti broj patika koje nosite</h1>
	<div class="paragraph-container">
		<div class="how-to color-none">
			<p>Merenje dužine stopala je najlakši i najprecizniji način da odredite koji broj patika nosite!Sve što treba je da izmerite stopalo od palca do pete kao na donjoj slici:
			</p>
		</div>

		<div class="img-container">
			<img alt="" src="/img/kako-odrediti-broj-patika-01.png">
		</div>

		<div class="ol-wrapp">
			<h2 class="ol-header">ŠTA MI TREBA?</h2>
			<ol>
				<li>parče papira veće od stopala,</li>
				<li>olovka,</li>
				<li>lenjir.</li>
			</ol>
		</div>

		<div class="ol-wrapp color-none">
			<h2 class="ol-header">ŠTA MI TREBA?</h2>
			<ol>
				<li>Stojeći stanite stopalom na papir. Nagnite se u napred.</li>
				<li>Olovkom iscrtajte odraz oba vaša stopala. Veličina stopala se može razlikovati.</li>
				<li>Sada lenjirom izmerite odraze oba stopala i uzmite veću veličinu.</li>
				<li>Možete koristiti <a href="/how-to-measure" class="underline">tabelu veličina</a>, koja se nalazi pored svake patike na našem sajtu, da odredite svoj broj na osnovu centimetara.</li>
			</ol>
		</div>
		<div class="img-container">
			<img alt="" src="/img/kako-odrediti-broj-patika-02.jpg">
		</div>

		<div class="how-to color-none">
			<h2 class="subtitle">Pogledajte stare patike</h2>
			<p>Broj patika se može lako odrediti na osnovu brenda. Ako kupujete npr. Adidas patike pogledajte stare Adidas patike koje ste nosili. Brendovi imaju svoje kalupe koji su isti. Kalupi patika različitih brendova se samo malo razlikuju.</p>

			<p>Otiđite i do obližnje prodavnice. Probajte slične patike onima koje hoćete da kupite. Ako recimo želite tekstilne patike za trčanje probajte neke takve. Male su šanse da pogrešite broj.
			</p>
		</div>
	</div>
</div>
