<div class="content-wrapper">
	<h1 class="titleH1">Politika privatnosti</h1>
	<div class="paragraph-container">
		<div class="how-to">
			<p>U našoj firmi Sportizmo doo izuzetno vodimo računa o informacijama koje nam ostavljate pri obavljanju kupovine. Od vaših podataka su nam potrebni Vaše ime i prezime, telefon, e-mail adresa i adresa isporuke. Vaše podatke isključivo koristimo kako bi mogli da vam što brže isporučimo artikal koji ste poručili na našem sajtu. Ove podatke ni u kom slučaju nećemo ustupati trećim licima na korišćenje.</p>
		</div>

		<div class="how-to">
			<p>Korišćenje kolačića na našem sajtu je ograničeno samo da bi vam omogućili lakši postupak naručivanje. Takođe isti mogu biti upotrebljeni za prikupljanje podataka o traženim artiklima i kako bi vam prikazali bolji sadržaj.</p>
		</div>

		<div class="how-to">
			<p>Korišćenjem naše internet prodavnice podrazumeva da je korisnik saglasan sa navedenim uslovima korišćenja. Sportizmo doo se obavezuje da će se pridržavati svega navedenog.</p>
		</div>
	</diV>
</div>
