<div class="content-wrapper">
	<h1 class="titleH1">Česta pitanja</h1>
	<div class="paragraph-container">
		<div class="how-to">
			<h2 class="no-margin">Gde se nalazi naša Prodavnica?</h2>
			<p>Naša prodavnica se nalazi u svakom, pa i najmanjem mestu u Srbiji, odnosno na Internetu :). Mi smo internet prodavnica obuće i odeće koja u svojoj ponudi u svakom trenutku ima oko 5000 modela artikala najvećih svetskih i domaćih proizvođača i jedinstveni smo po tome. Ni jedna prodavnica u gradu ne može se pohvaliti tolikim izborom.
			</p>
		</div>

		<div class="how-to">
			<h2 class="no-margin">Kako da poručim artikal i kada ga mogu očekivati?</h2>
			<p>Artikal možete poručiti putem sajta ili putem telefona, kako vam je lakše. Nakon vaše porudžbine uglavnom je potrebno oko 24h da narudžbina stigne na adresu koju želite (izuzetak su samo Leon i Sirogojno artikli koji se isporučuju 1-2x nedeljno).
			</p>
		</div>

		<div class="how-to">
			<h2 class="no-margin">Kolika je cena isporuke?</h2>
			<p>Cena isporuke prema cenovniku od 01.01.2017. iznosi 200 dinara.</p>
		</div>

		<div class="how-to">
			<h2 class="no-margin">Ukoliko pogrešim broj da li postoji mogućnost zamene?</h2>
			<p>Naravno da možete da zamenite artikal koji ste poručili. Možete da zamenite za drugi broj ili model. Što je najbolje u svemu zamena se odvija jako brzo. Jako je bitno istaći da artikal morate da vratite u originalnom stanju u originalnoj ambalaži i da artikal nema tragova habanja i korišćenja. U slučaju zamene kupac snosi troškove poštarine.</p>
		</div>

		<div class="how-to">
			<h2 class="no-margin">Kako odrediti broj koji vam odgovara?</h2>
			<p>Ukoliko naručujete prvi put mi ćemo Vam pomoći da odaberete pravi broj. Inače, kalup jednog brenda je uvek isti, tako da ako na primer naručujete "Nike" patike, a već ste imali obuću ovog brenda, onda je potrebno da naručite isti broj koji ste do sada nosili. Možete i da pogledate <a href="/how-to-measure" class="underline" title="uputstvo kako da izmerite stopalo">uputstvo kako da izmerite stopalo.</a> Ako pak imate bilo kakvih nedoumica samo nas pozovite i mi ćemo vam pomoći.
		</p>
		</div>

		<div class="how-to">
			<h2 class="no-margin">Imam li pravo na reklamaciju?</h2>
			<p>Imate. Pravo na reklamaciju traje 6 meseci od dana kupovine. U skladu sa garancijom i po zakonu, svaka reklamacija se šalje u "Jugoinspekt" koji utvrđuje odgovornost za nastalo oštećenje i donosi rešenje na osnovu koga se reklamacija rešava. Sve što treba da uradite je da nas pozovete. Objasnićemo vam kako da pozovete kurira koji će nam vratiti obuću. Jako je bitno da istaknemo da robu pre slanja na reklamaciju morate dobro da izbrišete. Prljavu robu nećemo primati. U slučaju reklamacije kupac snosi troškove poštarine.
			</p>
		</div>

		<div class="how-to">
			<h2 class="no-margin">Imam li pravo na povrat novca?</h2>
			<p>U koliko niste zadovoljni artiklom mi ćemo vam vratiti novac. Jako je bitno istaći da artikal morate da vratite u originalnom stanju u originalnoj ambalaži i da artikal nema tragova habanja i korišćenja. U slučaju povrata kupac snosi troškove poštarine.
			</p>
		</div>

		<div class="how-to">
			<h2 class="no-margin">Da li isporučujete patike u inostranstvo?</h2>
			<p>Za sada nismo u mogućnosti da isporučujemo patike van teritorije Srbije.Svakodnevno imamo porudžbine iz inostranstva i nadamo se da ćemo uskoro moći da odgovorimo i željama inostranih kupaca.
			</p>
		</div>

		<div class="how-to">
			<h2 class="no-margin">Da li mogu lično da preuzmem moju narudžbinu?</h2>
			<p>Možete prvo da poručite neki artikal sa napomenom da želite da ga lično preuzmete. Mi ćemo ga dostaviti u našu kancelariju u Zemun i javićemo vam da možete da dođete. Pre dolaska po artikal morate da sačekate da vam javimo da je spreman i morate da se najavite.
			</p>
		</div>
	</div>
</div>



