<div class="content-wrapper">
	<h1 class="titleH1">Reklamacije</h1>
	<div class="paragraph-container">
		<div class="how-to">
			<p>Pravo na reklamaciju traje 6 meseci od dana kupovine. U skladu sa garancijom i po zakonu, svaka reklamacija se šalje u "Jugoinspekt" koji utvrđuje odgovornost za nastalo oštećenje i donosi rešenje na osnovu koga se reklamacija rešava. Sve što treba da uradite je da nas pozovete. Objasnićemo vam kako da pozovete kurira koji će nam vratiti obuću. Jako je bitno da istaknemo da robu pre slanja na reklamaciju morate dobro da izbrišete. Prljavu robu nećemo primati. U slučaju reklamacije kupac snosi troškove poštarine.</p>
		</div>
	</div>
</div>
