<div class="content-wrapper">
	<h1 class="titleH1">Zamena artikla</h1>
	<div class="paragraph-container">
		<div class="how-to">
			<p>Ukoliko ste kupili neki artikal na našem sajtu i on vam se iz nekog razloga nije svideo ili vam na odgovara broj možete da ga zamenite za drugi broj ili model. Što je najbolje u svemu zamena se odvija jako brzo. Jako je bitno istaći da artikal morate da vratite u originalnom stanju u originalnoj ambalaži i da artikal nema tragova habanja i korišćenja. U slučaju zamene kupac snosi troškove poštarine. Sve što treba da uradite jeste da nas kontaktirate i mi ćemo vam poslati upustvo kako da nam vratite artikal. Kada proverimo da je artikal u originalnom stanju mi ćemo izvršiti zamenu.</p>
		</div>
	</div>
</div>
