<div class="product-menu">
    <div class="products">
        <a class="gender-category" href="/search">Muške<em>[vidi sve]</em></a>
        
        <ul class="menu-list">
            <li><a href="/search" title="">Cipele</a></li>
            <li><a href="/search" title="">Čizme</a></li>
            <li><a href="/search" title="">Patike</a></li>
            <li><a href="/search" title="">Duksevi</a></li>
            <li><a href="/search" title="">Jakne</a></li>
            <li><a href="/search" title="">Kopačke</a></li>
        </ul>
    </div>

    <div class="products">
        <a class="gender-category" href="/search">Muške<em>[vidi sve]</em></a>

        <ul class="menu-list">
            <li><a href="/search" title="">Cipele</a></li>
            <li><a href="/search" title="">Čizme</a></li>
            <li><a href="/search" title="">Patike</a></li>
            <li><a href="/search" title="">Duksevi</a></li>
            <li><a href="/search" title="">Jakne</a></li>
            <li><a href="/search" title="">Kopačke</a></li>
        </ul>
    </div>
</div>
