<div id="slides">
    <a class="slide" href="/search"  title="">
        <img src="/img/sirogojno.jpg" width="790" height="470" alt="">
    </a>
</div>

<div class="image-wrapper-div">
    <a href="/search" title="Jakne">
        <img src="/img/jakne.jpeg" width="390" height="552" alt="">
    </a>

    <div class="column">
        <a href="/search" title="Planinarenje">
            <img src="/img/planinarenje.jpeg" width="390" height="271" alt="">
        </a>
        <a href="/search" title="Cipele">
            <img src="/img/cipele.jpeg" width="390" height="271" alt="">
        </a>
    </div>
</div>
