<div id="gallery">
    <div class="thumbs">
        <span class="thumb">
            <img alt="" src="https://www.sportizmo.rs/slike/46231/nike-muske-patike-air-max-prime-men-2-64x42.jpg"  />
        </span>
        <span class="thumb">
            <img alt="" src="https://www.sportizmo.rs/slike/46231/nike-muske-patike-air-max-prime-men-3-64x42.jpg"  />
        </span>
        <span class="thumb">
            <img alt="" src="https://www.sportizmo.rs/slike/46231/nike-muske-patike-air-max-prime-men-2-64x42.jpg"  />
        </span>
        <span class="thumb">
            <img alt="" src="https://www.sportizmo.rs/slike/46231/nike-muske-patike-air-max-prime-men-5-64x42.jpg"  />
        </span>
        <span class="thumb">
            <img alt="" src="https://www.sportizmo.rs/slike/46231/nike-muske-patike-air-max-prime-men-2-64x42.jpg"  />
        </span>
        <span class="thumb">
            <img alt="" src="https://www.sportizmo.rs/slike/46231/nike-muske-patike-air-max-prime-men-6-64x42.jpg"  />
        </span>
    </div>

    <span class="main">
        <img alt="" src="https://www.sportizmo.rs/media/zoom/46231/nike-muske-patike-air-max-prime-men-2-1000x1000.jpg" />
    </span>
</div>
