<div class="product-number-details">
    <div class="available-numbers">
        <strong>Odaberite velicinu:</strong>

        <div class="sizes">
            <!-- label for and input it must be unique -->
            <input id="s1" type="radio" name="sizes" value="38">
            <label for="s1">38<sub>24.5cm</sub></label>

            <input id="s2" type="radio" name="sizes" value="42 2/3">
            <label for="s2">42 2/3<sub>21.5cm</sub></label>

            <input id="s3" type="radio" name="sizes" value="38">
            <label for="s3">38<sub>24.5cm</sub></label>

            <input id="s4" type="radio" name="sizes" value="38">
            <label for="s4">38<sub>24.5cm</sub></label>

            <input id="s5" type="radio" name="sizes" value="42 2/3">
            <label for="s5">42 2/3<sub>21.5cm</sub></label>

            <input id="s6" type="radio" name="sizes" value="38">
            <label for="s6">38<sub>24.5cm</sub></label>

            <input id="s7" type="radio" name="sizes" value="38">
            <label for="s7">38<sub>24.5cm</sub></label>

            <input id="s8" type="radio" name="sizes" value="42 2/3">
            <label for="s8">42 2/3<sub>21.5cm</sub></label>
        </div>
    </div>
</div>

<div class="size-help">
    <p>
        Izmerite dužinu stopala i sigurno nećete pogrešiti pri odabiru broja.
        <span>Detaljnije</span>
    </p>
</div>

<form action="" method="" class="in-busket">
    <div class="order-button">
        <input type="submit" value="">
        <span>Samo popunite podatke, plaćate kuriru pouzećem</span>
    </div>
</form>

<div class="contact-wrapper">
    <div class="contact-phone">
        Poruči telefonom <span>ili se raspitaj o proizvodu</span>
        <strong><a class="contact" href="tel:011-411-777-2">011.411.777.2</a></strong>
    </div>

    <div class="contact-email">
        Mejl za pitanja
        <strong>info@sportizmo.rs</strong>
    </div>
</div>

<ul class="satisfaction-garantie">
    <li><h3>Šta treba da znate prilikom kupovine:</h3></li>
    <li>Sigurna i bezbrižna kupovina</li>
    <li>Originalna obuća i odeća</li>
    <li>Jednostavna zamena</li>
    <li>Povrat novca</li>
    <li>Mogućnost reklamacije</li>
    <li>Uvek dostupna podrška</li>
    <li>Brza isporuka (24h)</li>
</ul>
