<article class="blog-post">
    <p class="date-time">Datum:<time datetime="2017-04-22">22. April 2017.</time></p>

    <h1>Спортизмо уводи 6-часовно радно време</h1>
    <img alt="" class="full-size" src="http://www.sportizmo.rs/media/slike/sportizmo-uvodi-sestocasovno-radno-vreme.jpg">
    
    <p>
        Пре три месеца увели смо радно време од шест сати да бисмо побољшали квалитет живота наших радника. Већ 5 година постојимо и много је борбе иза нас, па сада када смо достигли озбиљан ниво и финансије ред је и наградити наш тим.<br>
        Погледајте наша досадашња достигнућа:<br>
        - изузетна <strong>љубазност</strong> нашег кол-центра и <strong>жеља</strong> да купац добије најбољи производ,<br>
        - најбоље <a href="/search" title=""><strong>фотографије</strong> <strong>обуће</strong></a> у односу на било који "e-commerce" сајт на свету.<br>
        - увели смо <strong>креирање видеа</strong> за <strong>обућу</strong> (пример: <a href="/search" title="">www.sportizmo.rs/500) </a>а уводимо га и за <strong><a href="http://www.sportizmo.rs/odeca">одећу</a>.</strong>
    </p>
    
    <p>
        <strong>Ефикасност Спортизмо Тима се није умањила</strong>, наш тим је чак и мотивисанији, одморнији и <strong>срећнији</strong> - што је и најбитније.
    </p>
    
    <p>
        <h2>Наредни циљеви на социјалном плану су:</h2>
    </p>
    
    <p>
        <strong>1. </strong>просечна плата у фирми од<strong> 1000€</strong>, и
    </p>
    
    <p>
        2. бонус од <strong>+100€ </strong>запосленом за свако дете <strong>принову</strong>.
    </p>
    
    <p>
        Циљ сваког предузећа није богаћење власника (појединаца) већ служење свом друштву, код нас то је Србија. Жеља за акумулирањем великог капитала обично долази од несигурности човека у сопствене могућности - или жеље за признавањем у друштву и поистовећивањем са материјалним добрима које поседује.<br>
        Не чекајте зараду од милион евра да бисте наградили радно окружење - већ то учините већ са првих 3000€ у плусу и видећете како већ тада мењате свет.
    </p>
    
    <p>
        А ми у Спортизму смислићемо још неки начин да наше окружење учинимо задовољнијим :)
    </p>
    
    {% include "shared/soc-gray.html" %}
</article>
