<article class="blog-article">
    <p class="date-time">Datum:<time datetime="2017-04-22">22. April 2017.</time></p>
    <a href="/blog-post" title="">
        <h2>Спортизмо уводи 6-часовно радно време</h2>
        <div class="blog-article-img-wrapper">
            <img alt="" class="full-size" src="https://www.sportizmo.rs/media/slike/sportizmo-uvodi-sestocasovno-radno-vreme.jpg">
        </div>
    </a>
    
    {% include "shared/soc-gray.html" %}
</article>

<article class="blog-article">
    <p class="date-time">Datum:<time datetime="2017-04-22">22. April 2017.</time></p>
    <a href="/blog-post" title="">
        <h2>Спортизмо уводи 6-часовно радно време</h2>
        <div class="blog-article-img-wrapper">
            <img alt="" class="full-size" src="https://www.sportizmo.rs/media/slike/sportizmo-uvodi-sestocasovno-radno-vreme.jpg">
        </div>
    </a>
    
    {% include "shared/soc-gray.html" %}
</article>

<article class="blog-article">
    <p class="date-time">Datum:<time datetime="2017-04-22">22. April 2017.</time></p>
    <a href="/blog-post" title="">
        <h2>Спортизмо уводи 6-часовно радно време</h2>
        <div class="blog-article-img-wrapper">
            <img alt="" class="full-size" src="https://www.sportizmo.rs/media/slike/sportizmo-uvodi-sestocasovno-radno-vreme.jpg">
        </div>
    </a>
    
    {% include "shared/soc-gray.html" %}
</article>

<article class="blog-article">
    <p class="date-time">Datum:<time datetime="2017-04-22">22. April 2017.</time></p>
    <a href="/blog-post" title="">
        <h2>Спортизмо уводи 6-часовно радно време</h2>
       <div class="blog-article-img-wrapper">
            <img alt="" class="full-size" src="https://www.sportizmo.rs/media/slike/sportizmo-uvodi-sestocasovno-radno-vreme.jpg">
        </div>
    </a>
    
    {% include "shared/soc-gray.html" %}
</article>
